<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Found Item Details</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/show_cards.css') }}">
</head>
<body>
  {% include "header.html" %}

  <div class="container">
    <h1 class="page-title">Found Item Details</h1>

    <div class="details-card">
      <img src="{{ url_for('static', filename='uploads/' ~ details.findImg_filename) }}" 
           class="details-image" alt="Found Item">

      <div class="details-content">
        <h2 class="item-title">{{details.find_item}}</h2>
        
         <p><strong>Finder/Bailee Name:</strong>{{details.fider_Name}}</p>
        <p class="item-category">{{details.findItem_category }}</p>
        <p><strong>Location:</strong> {{details.findLocation }}</p>
        <p><strong>Date:</strong> {{details.date_Find }}</p>
        <p><strong>Description:</strong> {{details.findItem_Desc }}</p>
        <p><strong>founder Contact:</strong> {{details.finder_contact}}</p>
        <p><strong>Founder Email:</strong> {{details.finder_email}}</p>
      </div>

      <div class="details-footer">
        <a href="{{ url_for('home') }}" class="btn-back">Back to Home</a>
      </div>
    </div>
  </div>

  {% include "footer.html" %}
</body>
</html>
